$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xk: 1440px;

$white: #FFFFFF;
$brown: #D5966C;
$black: #151515;
$dark-gray: #444444;

$xl-title-size: 85px;
$xl-title-line-spacing: 82px;
$l-title-size: 70px;
$l-title-line-spacing: 70px;
$m-title-size: 55px;
$m-title-line-spacing: 52px;
$s-title-size: 50px;
$s-title-line-spacing: 45px;

$m-text-size: 22px;
$m-text-line-spacing: 31px;
$s-text-size: 18px;
$s-text-line-spacing: 28px;

$title-font: "Big Shoulders", sans-serif;
$text-font: "Outfit", sans-serif;