@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.location {
    header {
        width: 100%;
        position: relative;
        .location_hero_img {
            width: 100%;
            display: block;
            right: 50px;
            @include m.breakpoint(tablet) {
                height: 78.13vw;
            }
            @include m.breakpoint(desktop) {
                height: 41.67vw;
            }
        }
        img.location_hero_img_main {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        
        img.point {
            display: none;
            position: absolute;
            width: 4.58vw;
            @include m.breakpoint(tablet) {
                display: block;
                top: 44%;
                left: 46%;
                z-index: 1;
                width: 8.59vw;
            }
            @include m.breakpoint(desktop) {
                top: 42%;
                left: 47.5%;
                width: 66px;
                height: 88px;
            }
        }
      
        

        a {
            position: absolute;
            margin-left: 14.93vw;
            @include m.breakpoint(tablet) {
                margin-left: 13.19vw;
            }
            @include m.breakpoint(desktop) {
                margin-left: 14.72vw;
            }
        }
    }

    main {
        margin-bottom: 0;
        padding-bottom: 56px;
        background-color: v.$black;
        @include m.breakpoint(tablet) {
            display: flex;
            align-items: start;
            gap: 68px;
            padding: 11.46vw 5.21vw 10.42vw 5.08vw;
            margin-bottom: 0;
        }
        @include m.breakpoint(desktop) {
            padding: 7.22vw 11.46vw 8.89vw 11.46vw;
            display: flex;
            justify-content: space-between;
        }
        h2 {
            color: v.$white;
            padding: 48px 0px;
            @include m.breakpoint(tablet) {
                padding: 0;
                width: 29.04vw;
                font-size: 6.8vw;
                line-height: 0.95;
            }
            @include m.breakpoint(desktop) {
                width: 24.31vw;
                font-size: 6.5rem;
                line-height: 6.5rem;
            }
        }
        
        .main_location_content {
            @include m.breakpoint(tablet) {
                width: 51.82vw;
                height: 34.90vw;
            }
            @include m.breakpoint(desktop) {
                width: 37.5vw;
            }
        }
        h3 {
            color: v.$brown;
            margin-bottom: 5.33vw;
            font-size: 3.4rem;
            @include m.breakpoint(tablet) {
                font-size: 3.8rem;
                margin-bottom: 2.60vw;
            }
            @include m.breakpoint(desktop) {
                font-size: 3.5rem;
            }
        }

        p {
            font-family: v.$text-font;
            color: white;
            font-weight: 250;
            line-height: 1.5;
            width: 100%;
            @include m.breakpoint(tablet) {
                width: 97%;
                font-size: 1.9rem;
                font-weight: 280;
                line-height: 1.6;
            }
            @include m.breakpoint(desktop) {
                font-weight: 300;
                width: 37.4vw;
                line-height: 1.5;
                font-size: 1.95rem;
            }
        }

        p.address {
            margin-bottom: 5.33vw;
            @include m.breakpoint(tablet) {
                margin-bottom: 2.60vw;
            }
            @include m.breakpoint(desktop) {
                margin-bottom: 2.22vw;
            }
        }
        
    }

    
}