@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

h1 {
    font-family: v.$title-font;
            font-size: v.$m-title-size;
            font-weight: 900;
            width: 79%;
            line-height: v.$m-title-line-spacing;
            margin-bottom: 32px;
            @include m.breakpoint(tablet) {
                font-size: v.$l-title-size;
                line-height: 65px;
                margin-bottom: 48px;
            }
            @include m.breakpoint(desktop) {
                font-size: v.$xl-title-size;
                color: v.$white;
                line-height: v.$xl-title-line-spacing;
            }
        }

 h2 {
        font-family: v.$title-font;
        font-size: v.$s-title-size;
        line-height: v.$s-title-line-spacing;
        text-transform: uppercase;
        font-weight: 900;
        width: 87%;
        @include m.breakpoint(tablet) {
            margin-bottom: 24px;
        }
        @include m.breakpoint(desktop) {
            font-size: v.$m-title-size;
            line-height: v.$m-title-line-spacing;
        }
    }
h3 {
    font-family: v.$title-font;
    font-size: 32px;
    line-height: 32px;
}

    p {
        font-family: v.$text-font;
        font-size: v.$s-text-size;
        line-height: v.$s-text-line-spacing;
        font-weight: 300;
        @include m.breakpoint(desktop) {
            font-size: v.$m-text-size;
            line-height: v.$m-text-line-spacing;
        }
    }