@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

h1 {
    font-family: v.$title-font;
    font-weight: 900;
    width: 100%;
    line-height: v.$xl-title-line-spacing;
    margin-bottom: 32px;
    @include m.breakpoint(tablet) {
        margin-bottom: 48px;
        font-size: 8rem;
        }
    @include m.breakpoint(desktop) {
        color: v.$white;
        font-size: clamp(6rem, 6.7vw, 12rem);
        }
    }

 h2 {
        font-family: v.$title-font;
        font-size: clamp(5rem, 4.86vw, 7.7rem);
        line-height: v.$l-title-line-spacing;
        text-transform: uppercase;
        font-weight: 900;
        width: 100%;
        @include m.breakpoint(tablet) {
            margin-bottom: 24px;
            font-size: 6.5rem;
        }
        @include m.breakpoint(desktop) {
        }
    }
h3 {
    font-family: v.$title-font;
    font-size: clamp(3.2rem, 7.17vw, v.$m-title-size);
    line-height: v.$m-title-line-spacing;
}

p {
    font-family: v.$text-font;
    font-size: clamp(v.$s-text-size, 1.51vw, 24rem);
    font-weight: 300;
}