@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
body {
    display: block;
    @include m.breakpoint(desktop) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}