@use '../abstracts/mixins' as m;

.container {
    padding-left: 16px;
    padding-right: 16px;

    @include m.breakpoint(tablet) {
        padding-left: 5.08vw;
        padding-right: 5.20vw;
    }

    @include m.breakpoint(desktop) {
        padding-left: 11.46vw;
        padding-right: 10.65vw;
    }
}

