@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.hero {
    width: 100%;
    margin-bottom: 32vw;
    @include m.breakpoint(tablet) {
        display: flex;
        position: relative;
        margin-bottom: 15.63vw;
    }
    @include m.breakpoint(desktop) {
       background: linear-gradient(
        to right,
        v.$black 50%,
        v.$white 50%
       );
       margin-bottom: 12.50vw;
    }
    &_img {
        @include m.breakpoint(tablet) {
            width: 57%;
        }
        @include m.breakpoint(desktop) {
            width: 37.5%;
            height: auto;
            display: block;
            margin: auto;
        }
        .hero-img{
            margin-bottom: 8.53vw;
            @include m.breakpoint(tablet) {
                margin-bottom: 0;
            }
            @include m.breakpoint(desktop) {
                width: 100%;
                height: auto;
                margin-bottom: 0;
                display: block;
            }
        }
    }
    

    &_content{      
        @include m.breakpoint(tablet) {
            width: 44.14vw;
            position: absolute;
            top: 20vw;
            left: 45.5vw;
        }
        @include m.breakpoint(desktop) {
            width: 100%;
            display: flex;
            position: absolute;
            left: 0;
            top: 25%;
            justify-content: space-between;
        }

        &_description {
            @include m.breakpoint(tablet) {
                width: 44.14vw;
            }
            @include m.breakpoint(desktop) {
                width: 25vw;
            }
        }

        h1 {
            font-size: 5.8rem;
            margin-bottom: 8.53vw;
            @include m.breakpoint(tablet){
                font-size: 7.5rem;
                width: 44.15vw;
                margin-bottom: 6.25vw;
            }
            @include m.breakpoint(desktop) {
                width: 50vw;
                color: v.$white;
                font-size: 6.65vw;
                margin-bottom: 0;
            }
        }
        
        p {
            color: v.$dark-gray;
            font-weight: 270;
            margin-bottom: 32px;  
            line-height: 1.6;
            margin-bottom: 8.53vw;
            
            @include m.breakpoint(tablet) {
                margin-bottom: 48px;
                font-weight: 300;
                width: 100%;
                font-size: 1.9rem;
                line-height: 1.65;
            }
            @include m.breakpoint(desktop) {
                width: 25vw;
                margin-bottom: 8vh;
                font-weight: 250;
                line-height: 1.45;
                font-size: 2rem;
            }
        }
    }
}