@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

main {
    margin-bottom: 120px;
    .content {    
        &_header {
            @include m.breakpoint(tablet){
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 11px;
            }
            @include m.breakpoint(desktop) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            picture{
                height: 85.33vw;
                @include m.breakpoint(tablet){
                width: 51.82vw;
                height: 52.10vw;
                }
                @include m.breakpoint(desktop){
                    width: 44.1vw;
                    height: 27.78vw;
                }
            }
            img {
                width: 100%;
                margin-bottom: 6.67vw;
                 @include m.breakpoint(tablet){
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin: 0;
                }
                @include m.breakpoint(desktop){
                    width: 44.1vw;
                    height: auto;
                    object-fit:cover;
                }
            }
        &_description {
            @include m.breakpoint(tablet) {
                order: -1;
                width: 29.53vw;
            }
            @include m.breakpoint(desktop) {
                width: 28.51vw;
            }

            h2 {
                margin-bottom: 5.6vw;
                span {
                    display: inline;
                    white-space: nowrap;
                }
                .part1 {
                    display: block;
                }
                @include m.breakpoint(tablet) {
                    margin-bottom: 2.6vh;
                    line-height: 0.9;
                    font-size: 6.8vw;
                    .part1, .part2, .part2 {
                        display: block;
                    }
                }
                @include m.breakpoint(desktop) {
                    width: 81%;
                    margin-bottom: 4vh;
                    font-size: 5.5rem;
                    .part1 {
                        display: inline;
                    }
                    .part2 {
                        display: inline;
                        white-space: wrap;
                    }
                    .part3 {
                        display: inline;
                    }
                }
    
            }
            p {
                font-size: 4.8vw;
                font-weight: 250;
                line-height: 1.5;
                width: 100%;
                color: v.$dark-gray;
                margin-bottom: 8.53vw;
                @include m.breakpoint(tablet) {
                    font-size: 2.3vw;
                    line-height: 1.56;
                    width: 100%;
                    margin-bottom: 3.75vh;
                    font-weight: 300;
                }
                @include m.breakpoint(desktop) {
                    width: 80%;
                    line-height: 1.56;
                    font-size: 2rem;
                    font-weight: 250;
                }
            }

        }
              }


        &_main {
            padding: 0;

            @include m.breakpoint(tablet) {
                width: 100%;
                display: grid;
                grid-template-columns: 1.42fr 1fr;
                grid-template-rows: 1fr 1.27fr;
                gap: 0.76vw;
            }

            @include m.breakpoint(desktop) {
                gap: 30px;
            }
          
            img {
                width: 100%;
                margin-bottom: 16px;
                height: 100%;
                @include m.breakpoint(tablet) {
                    margin-bottom: 0;
                }
            }

            .img1 {
                height: 480px;
                @include m.breakpoint(tablet) {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    height: 100%;
                   
                    width: 100%;
                    
                }
            }

            .img2 {
                @include m.breakpoint(tablet) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    grid-column: 2;
                    grid-row: 1;
                }
            }


         &_description {
                padding: 12.8vw 6.4vw 12.53vw 6.4vw;
                background-color: v.$black;
                color: v.$white;

                @include m.breakpoint(tablet) {
                    padding: 85px 29px;
                    grid-column-start: 2;
                }

                @include m.breakpoint(desktop) {
                        padding: 7.7vh 3.1vw 7.7vh 3.1vw;
                    }

                h2 {
                    margin-bottom: 6.4vw;
                    width: 100%;
                    line-height: 0.95;
                    @include m.breakpoint(tablet) {
                        width: 90%;
                        font-size: 6.3vw;
                        margin-bottom: 3.13vw;
                    }
                    @include m.breakpoint(desktop) {
                        width: 90%;
                        font-size: 5.3rem;
                        margin-bottom: 2.22vw;
                    }
                }

                
                p {
                    width: 100%;
                    color: v.$white;
                    font-weight: 300;
                    line-height: 1.6;
                    @include m.breakpoint(tablet) {
                        font-size: 2.25vw;
                        font-weight: 300;
                        line-height: 1.56;
                        width: 90%;
                    }
                    @include m.breakpoint(desktop) {
                        width:100%;
                        line-height: 1.5;
                        font-size: 2rem;
                        font-weight: 250;
                    }
                }
           }

        
     }

    }
}
